<!--
  Generated template for the AppContact page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Contact</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
   <ion-label floating>Type here</ion-label>
   
   <ion-textarea rows="10" [(ngModel)]="message"></ion-textarea>
 </ion-item>
 <ion-item>
   <button large block ion-button (click)="sendMessage()"  [hidden]="message === ''">Send</button>
 </ion-item>
</ion-content>
