.about-header {
    background: url('../assets/img/bglogin.jpg');
    background-repeat: no-repeat;
    position:relative;
    background-size: cover;
    padding: 16px;
    width: 100%;
    min-height: 150px;
    text-align: center;
	
	#overlay {
		position:absolute;
		top:0;
		right:0;
		left:0;
		bottom:0;
		background:rgba(255,255,255,0.8);
		z-index:-1;
	}
	img {
		max-width: 200px;
		min-height: 115px;
		margin-left: -15px;
		padding: 25px 0 20px 0;
		z-index:999;
	}
}

.about-info p {
    color: #697072;
    text-align: left;
}

.about-info ion-icon {
    color: color($colors, primary);
    width: 20px;
}

.md,
.wp {
    .about-info [text-right] {
        margin-right: 0;
    }
}

.ios .about-info {
    text-align: center;
}

.ios .about-info ion-icon {
    width: auto;
    margin-right: 10px;
}
