<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>About</ion-title>
    <!--<ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>-->
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="about-header">
    <div id="overlay"></div>
    <img src="assets/img/mplogo.png" alt="ionic logo">
  </div>
  <div padding class="about-info">
    <h3 text-center>MobilPRO 2017</h3>
    <h4>About</h4>
    <p>MobilPRO – Innovation and Mobility project is based on an annual contest of ideas and mobile applications, which starting with 2016, became an annual contest for ideas and software applications' and starting this year is an international competition.</p>

    <p>MobilPRO is an initiative started in 2013 by members of Electronic Students League (LSE) and professors from Faculty of Electronic, Telecommunications and Information Technology (ETTI), UPB, and the first edition of it took place in March 2014.</p>
    <p>At this moment, the project has three components:</p>
    <ul>
        <li>Training and activities center: Laboratory and freely chosen discipline in the Faculty of Electronic, Telecommunications and Information Technology, UPB<li>
        <li>Software developers community: Online platform - forum<li>
        <li>Ideas and software applications contest: Annual contest organized in March, in UPB</li>
    </ul>
	<h4>MobilPRO Days</h4>
	<h5>Official Opening</h5>
	<p>blab la  bla</p>
	<h5>Contest Day 1</h5>
	<p>blab la  bla</p>
	<h5>Contest Day 2</h5>
	<p>blab la  bla</p>
  </div>
</ion-content>
