// Styles for all of the user pages:
// Login, Signup, Support
page-user {
    background: url('../assets/img/bglogin.jpg');
	background-size:cover;
	background-repeat:no-repeat;
    #overlay {
        position: absolute;
        background: rgba(255, 255, 255, 0.3);
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -99;
    }
    .content-md {
        background-color: transparent;
    }
    form {
        background: #fafafa;
        padding: 10px;
        margin: 30px;
        border-radius: 3px;
        ion-item {
            background-color: transparent!important;
            &.item-md {
                padding-left: 5px;
                padding-right: 5px;
            }
            .item-inner {
                padding-right: 0!important;
            }
            &.input-has-focus {
                ion-label {
                    color: #000!important;
                }
            }
            ion-label {
                color: #000!important;
                font-weight: bold;
            }
            ion-input {
                border: 1px solid #dadada;
                margin-top: 5px;
                padding: 3px;
            }
        }
    }
    .logo {
        padding: 5px 0;
        min-height: 150px;
        text-align: center;
        border-radius: 100px;
        margin: 10px 90px 20px;
		width:calc(100% - 180px);
        z-index: 9999;
        img {
            max-width: 100%;
        }
    }
    .list {
        margin-bottom: 0;
    }
    ion-footer {
		font-weight: 300;
		color:#333;
        // background: rgba(255, 255, 255, 0.5);
        ion-col:last-child {
            text-align: right;
        }
    }
}
