<!--<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
		<ion-title>Login</ion-title>
	</ion-navbar>
</ion-header>-->

<ion-content>
	<div id="overlay"></div>
	<div class="logo">
		<img src="assets/img/mplogo.png" alt="MobilPRO logo">
	</div>

	<form #loginForm="ngForm" novalidate>
		<ion-list no-lines>
			<ion-item>
				<ion-label stacked ion-text>Email</ion-label>
				<ion-input [(ngModel)]="login.email" name="email" type="text" #email="ngModel" spellcheck="false" autocapitalize="off"
					required>
				</ion-input>
			</ion-item>
			<p [hidden]="email.valid || submitted == false" color="danger" padding-left>
				Email is required
			</p>

			<ion-item>
				<ion-label stacked ion-text>Password</ion-label>
				<ion-input [(ngModel)]="login.password" name="password" type="password" #password="ngModel" required>
				</ion-input>
			</ion-item>
			<p [hidden]="password.valid || submitted == false" color="danger" padding-left>
				Password is required
			</p>
		</ion-list>

		<ion-row responsive-sm>
			<ion-col>
				<button ion-button (click)="onLogin(loginForm)" type="submit" block>Login</button>
				<button ion-button (click)="facebookLogin()" block>Login With Facebook</button>
			</ion-col>
		</ion-row>
		<div>
			<p (click)="resetPassword()">Reset password</p>
		</div>
	</form>
</ion-content>
<ion-footer>
	<ion-grid>
		<ion-row>
			<ion-col width-50 (click)="pushRegister()">Don't have an account?</ion-col>
			<ion-col width-50 (click)="pushMain()">Not now</ion-col>
		</ion-row>
	</ion-grid>
</ion-footer>