
page-apps-list {
    ion-searchbar {
        input.searchbar-input {
            box-shadow:none!important;
        }
    }
  .scroll-content {
    background: #EDEDED;
}

.app-card ion-card-header .item {
    padding: 4px 16px;
}

.app-card {
    box-shadow: none!important;
    &.card-md {
        margin:5px;
        width:calc(100% - 10px);
        border-radius: 3px;
    }
    ion-card-header {
        max-height: 300px;
        height:300px;
        position:relative;
        overflow-y:hidden;
        img {
            position:absolute;
            top:0;
            left:0;
            right:0;
            min-height:300px;
        }
    }
    ion-card-content {
        padding:16px;
    }
}

@media (min-width: 600px) {
    .app-card {
      width: 60%;
      margin: 10px auto;
  }
}

}
