<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Applications</ion-title>
        
    </ion-navbar>
    <ion-toolbar no-border-top>
            <ion-searchbar
                [(ngModel)]="appsSearch"
                [showCancelButton]="shouldShowCancel"
                (ionInput)="appSearchOnInput($event)"
                (ionCancel)="appSearchOnCancel($event)">
            </ion-searchbar>
        </ion-toolbar>
</ion-header>

<ion-content class="outer-content apps-list">
    <ion-refresher (ionRefresh)="appsRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-card *ngFor="let app of applications" class="app-card">
        <ion-card-header (click)="gotToAppDetail(app)">
            <img [src]="app.image" alt="Speaker profile pic">
        </ion-card-header>
        <ion-card-content>
            <ion-card-title>
                {{app.name}}
            </ion-card-title>
            <p>
                {{app.short_desc}}
            </p>
            <p>
                <b>Tracks:</b> {{app.tracks}}
            </p>
        </ion-card-content>

<ion-row no-padding>
  <!--<ion-col>
    <button ion-button clear small color="primary" icon-left (click)="goToSpeakerTwitter(speaker)">
      <ion-icon name="logo-twitter"></ion-icon>
      Tweet
  </button>
</ion-col>-->
<ion-col text-center>
    <button ion-button clear small color="primary" icon-left (click)="openAppShare(app)">
      <ion-icon name='share-alt'></ion-icon>
      Share
  </button>
</ion-col>
<ion-col text-center>
    <button ion-button clear small color="primary" icon-left (click)="sendMessage(app.id)">
      <ion-icon name='chatboxes'></ion-icon>
      Contact
  </button>
</ion-col>
</ion-row>

</ion-card>
</ion-content>
