<ion-header>

	<ion-navbar>
		<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
		<ion-title>Support</ion-title>
	</ion-navbar>

</ion-header>


<ion-content>
	<div id="overlay"></div>
	<div class="logo">
		<img src="assets/img/mplogo.png" alt="MobilPRO Logo">
	</div>

	<form #submitForm="ngForm" novalidate (ngSubmit)="submit(submitForm)">
		<ion-list no-lines>
			<ion-item>
				<ion-label stacked color="primary">Enter your feedback message below</ion-label>
				<ion-textarea [(ngModel)]="feedbackMessage" name="message" #message="ngModel" rows="6" required></ion-textarea>
			</ion-item>
		</ion-list>

		<p [hidden]="message.valid || submitted === false" color="danger" padding-left>
			Feedback message is required
		</p>

		<div padding>
			<button ion-button block type="submit">Submit</button>
		</div>
	</form>
</ion-content>
