<ion-header>
  <ion-navbar>
    <ion-title>{{app.name}}</ion-title>
  </ion-navbar>
  
</ion-header>

<ion-content padding class="speaker-detail">
  <div text-center>
    <!--<ion-badge *ngFor="let track of app.tracks">{{track}}</ion-badge>-->
    <img [src]="app.image" [alt]="app.name"><br>

    <!--<button ion-button icon-only clear small color="twitter">
      <ion-icon name="logo-twitter"></ion-icon>
    </button>
    <button ion-button icon-only clear small color="github">
      <ion-icon name="logo-github"></ion-icon>
    </button>
    <button ion-button icon-only clear small color="instagram">
      <ion-icon name="logo-instagram"></ion-icon>
    </button>-->
  </div>

  <div [innerHtml]="app.long_desc"></div>

</ion-content>
