$mp-color: #478aff;
ion-header {
    &:after {
        background-image:none!important;
    }
}
button.button-md {
    box-shadow: none;

}

main-wrapper {
    ion-menu {
        ion-content {
            background-color:$mp-color!important;
            ion-list {
                ion-list-header {
                    background-color:$mp-color!important;
                    color:#fff!important;
                    border-top:0!important;
                }
                button {
                    background-color:$mp-color!important;
                    color:#fff!important;
                    .item-inner {
                        border-bottom:0!important;
                        font-size:14px;
                        ion-icon {
                            margin-top:8px;
                            margin-bottom:8px;
                        }
                    }
                }
            }
        }
        ion-header {
            background:$mp-color;
            text-align:center;
            #menu-logo-image {
                max-width: 50%;
            }
            &:after {
                background-image:none!important;
            }
        }
        
    }
}