
<!-- logged out menu -->
<ion-menu id="loggedOutMenu" [content]="content" (ionOpen)="onMenuOpen($event)" (ionClose)="onMenuClose($event)"> 
  <ion-header>
    <img src="assets/img/mplogo.png" id="menu-logo-image"/>
  </ion-header>

  <ion-content class="outer-content">

    <ion-list>
      <ion-list-header>
        Navigate
      </ion-list-header>
      <button ion-item menuClose *ngFor="let p of appPages" (click)="openPage(p)">
        <ion-icon item-left [name]="p.icon"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>

    <ion-list>
      <ion-list-header>
        Account
      </ion-list-header>
      <button ion-item menuClose *ngFor="let p of loggedOutPages" (click)="openPage(p)">
        <ion-icon item-left [name]="p.icon"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>

    <ion-list>
      <ion-list-header>
        Tutorial
      </ion-list-header>
      <button ion-item menuClose (click)="openTutorial()">
        <ion-icon item-left name="hammer"></ion-icon>
        Show Tutorial
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- logged in menu -->
<ion-menu id="loggedInMenu" [content]="content" (ionOpen)="onMenuOpen($event)" (ionClose)="onMenuClose($event)">

  <ion-header>
    <img src="assets/img/mplogo.png" id="menu-logo-image"/>
  </ion-header>

  <ion-content class="outer-content">

    <ion-list>
      <ion-list-header>
        Navigate
      </ion-list-header>
      <button ion-item menuClose *ngFor="let p of appPages" (click)="openPage(p)">
        <ion-icon item-left [name]="p.icon"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>

    <ion-list>
      <ion-list-header>
        Account
      </ion-list-header>
      <button ion-item menuClose *ngFor="let p of loggedInPages" (click)="openPage(p)">
        <ion-icon item-left [name]="p.icon"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>

    <!--<ion-list>
      <ion-list-header>
        Tutorial
      </ion-list-header>
      <button ion-item menuClose (click)="openTutorial()">
        <ion-icon item-left name="hammer"></ion-icon>
        Show Tutorial
      </button>
    </ion-list>-->

  </ion-content>

</ion-menu>


<!-- main navigation -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
