<ion-header no-border>
  <ion-navbar>
    <ion-buttons end *ngIf="showSkip">
      <button ion-button (click)="startApp()" color="primary">Skip</button>
  </ion-buttons>
</ion-navbar>
</ion-header>

<ion-content no-bounce>
  <ion-slides [options]="{pager: true}" (ionWillChange)="onSlideChangeStart($event)">

    <ion-slide>
      <img src="assets/img/mplogo.png" class="slide-image"/>
      <h2 class="slide-title">
        Welcome to <b>MobilPRO</b><br/>
        <i>Innovation and Mobility</i>
    </h2>
</ion-slide>

<ion-slide>
  <img src="assets/img/question.jpg" class="slide-image"/>
  <h2 class="slide-title">What is MobilPRO?</h2>
  <p><b>MobilPRO</b> is an international mobile apps contest developed by Electronics Students League and Politehnica University of Bucharest</p>
</ion-slide>

<ion-slide>
  <img src="assets/img/whatthisapp.jpg" class="slide-image"/>
  <h2 class="slide-title">What's this app for?</h2>
  <p>This app helps you get in touch with the event presentations and contestants</p>
</ion-slide>

<ion-slide>
  <img src="assets/img/ica-slidebox-img-4.png" class="slide-image"/>
  <h2 class="slide-title">Ready to Join?</h2>
    <button ion-button icon-right large clear (click)="startApp()">
        Continue
        <ion-icon name="arrow-forward"></ion-icon>
    </button><br/>
    <button ion-button icon-right large clear (click)="getAccount()">
        I want an account
        <ion-icon name="person-add"></ion-icon>
    </button>
</ion-slide>


</ion-slides>
</ion-content>
