<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Notifications</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding-top>
    <ion-item class="ion-custom-item" (click)="goToLogin()" text-center *ngIf="!isLoggedIn">To get push notifications you must log in and register to the service.</ion-item>
    <ion-item class="ion-custom-item" (click)="registerNotifyable()" text-center *ngIf="!isRegisteredNotifyable && isLoggedIn">You are not subscribed to push notifications. To get real time updates subscribe to push notifications</ion-item>
	<ion-list inset>
		<ion-item *ngFor="let n of notifications">
			<h2>{{n.title}}</h2>
			<p>{{n.shortdesc}}</p>
		</ion-item>
	</ion-list>
</ion-content>
