<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Schedule</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="presentFilter()">
        <ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  
  <ion-toolbar no-border-top>
    
    <ion-segment [(ngModel)]="day" (ionChange)="updateSchedule()">
      <ion-segment-button value="1">
        Day 1
      </ion-segment-button>
      <ion-segment-button value="2">
        Day 2
      </ion-segment-button>
      <ion-segment-button value="3">
        Day 3
      </ion-segment-button>
    </ion-segment>
    <ion-searchbar color="primary"
                   [(ngModel)]="queryText"
                   (ionInput)="updateSchedule()"
                   placeholder="Search">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="scheduleRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
	<ion-list #scheduleList [hidden]="!schedule">
		<ion-item-group *ngFor="let track of tracks" [hidden]="!schedule">
		
		<ion-item-divider sticky>
			<ion-label>
			<b>{{track.name}}</b>
			</ion-label>
		</ion-item-divider>
		<!--[attr.track]="session.tracks[0] | lowercase" [hidden]="session.hide"-->
      <ion-item-sliding *ngFor="let session of getSessions(track.name)">
        
      	<button ion-item (click)="goToSessionDetail(session)">
			  {{session.name}}
			<h3>{{session.app_name}}</h3>
			<p>
				{{session.sch_hour_start}} &mdash;
				{{session.sch_hour_end}}
			</p>
			</button>

			<ion-item-options>
			<button ion-button color="favorite" (click)="addFavorite(slidingItem, session)" *ngIf="segment === 'all'">
				tere
			</button>
			<button ion-button color="danger" (click)="removeFavorite(slidingItem, session, 'Remove Favorite')" *ngIf="segment === 'favorites'">
				Remove
			</button>
			<button ion-button color="primary" (click)="gotToAppDetail(session.app_id)">
				Details
			</button>
			</ion-item-options>
      </ion-item-sliding>

		</ion-item-group>

  </ion-list>

  <ion-list-header [hidden]="schedule">
      No Sessions Found
  </ion-list-header>

  <ion-fab bottom right #fab>
    <button ion-fab><ion-icon name="share"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab color="vimeo" (click)="openSocial('Vimeo', fab)"><ion-icon name="logo-vimeo"></ion-icon></button>
      <button ion-fab color="google" (click)="openSocial('Google+', fab)"><ion-icon name="logo-googleplus"></ion-icon></button>
      <button ion-fab color="twitter" (click)="openSocial('Twitter', fab)"><ion-icon name="logo-twitter"></ion-icon></button>
      <button ion-fab color="facebook" (click)="openSocial('Facebook', fab)"><ion-icon name="logo-facebook"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>


</ion-content>