<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Account</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding-top text-center>
    <div>
        <div *ngIf="editMode == false && userD != {}">
            <h2>{{userD.name}}</h2>
            <ion-list inset>
                <ion-item>
                    <small>Email</small>
                    <p>{{userD.mail}}</p>
                </ion-item>
                <ion-item>
                    <small>Title</small>
                    <p>{{userD.title}}</p>
                </ion-item>
            </ion-list>
        </div>
        <form *ngIf="editMode == true">
            <ion-list>
                <ion-item>
                    <ion-label stacked>Name</ion-label>
                    <ion-input type="text" [(ngModel)]="userD.name" name="username" #username="ngModel"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label stacked>Title</ion-label>
                    <ion-input type="text" [(ngModel)]="userD.title" name="title" #title="ngModel"></ion-input>
                </ion-item>
            </ion-list>
        </form>
        <ion-list inset *ngIf="editMode == true">
          <button color="primary" ion-item (click)="saveData()">Save data</button>
        </ion-list>
        <ion-list inset  *ngIf="editMode == false">
            <button ion-item (click)="changeData()">Change data</button>

            <button ion-item (click)="subscribeToNotif()" *ngIf="!isRegisteredNotifyable">Subscribe To Notifications</button>
            <button ion-item (click)="unsubscribeToNotif()" *ngIf="isRegisteredNotifyable">Unsubscribe From Notifications</button>
            

            <button ion-item (click)="changePassword()">Change Password</button>
            <button ion-item (click)="support()">Support</button>
            <button ion-item (click)="logout()">Logout</button>
        </ion-list>
    </div>
</ion-content>
