<!--<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
		<ion-title>Signup</ion-title>
	</ion-navbar>
</ion-header>-->

<ion-content>
	<div id="overlay"></div>
	<div class="logo">
		<img src="assets/img/mplogo.png" alt="MobilPRO Logo">
	</div>

	<form #signupForm="ngForm" novalidate>
		<ion-list no-lines>
			<ion-item>
				<ion-label stacked color="primary">First Name</ion-label>
				<ion-input [(ngModel)]="signup.firstname" name="firstname" type="text" #firstname="ngModel" required>
				</ion-input>
			</ion-item>
			<ion-item>
				<ion-label stacked color="primary">Last Name</ion-label>
				<ion-input [(ngModel)]="signup.lastname" name="lastname" type="text" #lastname="ngModel" required>
				</ion-input>
			</ion-item>
			<ion-item>
				<ion-label stacked color="primary">Title</ion-label>
				<ion-input [(ngModel)]="signup.title" name="title" type="text" #title="ngModel" required>
				</ion-input>
			</ion-item>
			<ion-item>
				<ion-label stacked color="primary">Email</ion-label>
				<ion-input [(ngModel)]="signup.email" name="email" type="text" #email="ngModel" required>
				</ion-input>
			</ion-item>
			<p [hidden]="email.valid || submitted == false" color="danger" padding-left>
				Email is required
			</p>

			<ion-item>
				<ion-label stacked color="primary">Password</ion-label>
				<ion-input [(ngModel)]="signup.password" name="password" type="password" #password="ngModel" required>
				</ion-input>
			</ion-item>
		</ion-list>

		<div padding>
			<button ion-button (click)="onSignup(signupForm)" type="submit" block>Create</button>
			<button ion-button (click)='facebookSignup()' block>SignUp with Facebook</button>
		</div>
		<div>
			<p (click)='goBack()'>Cancel</p>
		</div>
	</form>

</ion-content>
