page-supporters {
    .ptitle {
        margin-top:40px!important;
    }
    ion-row {
        margin:50px 0;
    }
    .partner {
        width:100%;
        text-align: center;
        #orange {
            width:40%;
            max-width:500px;
            margin:20px auto;
        }
        img:not(#orange) {
            max-height:100px;
        }
   }
}
