<!--
  Generated template for the SupportersPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	
  <ion-navbar no-border-bottom>
	   <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Supporters</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<h2 text-center class="ptitle">Main partner</h2>
	<div class="partner" >
		<img id="orange" src="assets/img/supporters/orange.png" alt="">
	</div>
	<h2 text-center class="ptitle">Partners</h2>
	<ion-grid>
		<ion-row>
			<ion-col col-6>
				<div class="partner">
					<img src="assets/img/supporters/ibm.jpg" alt="">
				</div>
			</ion-col>
			<ion-col col-6>
				<div class="partner">
					<img src="assets/img/supporters/bearingpoint.png" alt="">
				</div>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col col-6>
				<div class="partner">
					<img src="assets/img/supporters/microchip.png" alt="">
				</div>
			</ion-col>
			<ion-col col-6>
				<div class="partner">
					<img src="assets/img/supporters/cisco.png" alt="">
				</div>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col col-6>
				<div class="partner">
					<img src="assets/img/supporters/teamcoding.png" alt="">
				</div>
			</ion-col>
			<ion-col col-6>
				<div class="partner">
					<img src="assets/img/supporters/alcatel.png" alt="">
				</div>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col col-6 offset-25>
				<div class="partner">
					<img src="assets/img/supporters/samsung.png" alt="">
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
